body{background-color:#1C1C1C;color:white;}
h1,p{margin-left:10px;}
h2{margin:5px;font-size: 1em;padding:0; line-height:14px;}
h2 > small {font-size: 85%}
.popover { color: #333;}

.table{
	background-color:black;
	padding:3px 5px;
	overflow: auto;
	float:left;
	margin:5px;
	width: 190px;
}

.table a {
	color:white;
	display: block;
	float: left;
	width: 190px;
	text-align: center;
	margin: 2px 0;
	font-weight: bold;
	padding:5px 0;
	font-size: 1.3em;
}

.table > .table { margin:0; }

.table.struct {width: 1005px;clear:left;}
.table.feeders { width:400px;clear:left;}
.table.scenario-config { width: 400px; height:200px;}
.table.action {	width:800px;clear: left; }
.table.checks { width:1200px; clear:left;}
.table.http-config { width: 1200px; clear:left;}

h3.popover-title { font-weight: bold; }

.scenario-config > div > a { background-color: rgba(255,0,0,0.6);}
.http-config > div > a { background-color: rgba(255,0,0,0.6);}
.struct > div > a { background-color:rgba(0,255,0,0.6); }

.http > a { background-color: rgba(255,0,0,0.6); }
.http-verb > a { background-color: rgba(255,0,75,0.6); }
.http-opts > a { background-color: rgba(255,75,100,0.6); }
.http-body > a{ background-color: rgba(255,0,255,0.6); }
.http-checks > a { background-color: rgba(75,100,255,0.6); }
.check-extractors > a { background-color: rgba(75,100,255,0.6); }
.check > a { background-color: rgba(75,100,255,0.6); }
.check-transformer > a { background-color: rgba(75,100,255,0.6); }
.check-verifiers > a { background-color: rgba(75,100,255,0.6); }
.check-saver > a { background-color: rgba(75,100,255,0.6); }
.feeder-types > a { background-color: rgba(0,0,255,0.6); }
.feeder-strategies > a { background-color: rgba(75,100,255,0.6); }

a.tooLong{ font-size: 1.2em;}
a.reallyLong{ font-size:1em;}
a.reallyTooLong{ font-size:0.73em;}