body {
	background-color:#1C1C1C;
	color:white;
}
h1, p { margin-left:10px; }
h2 { 
	margin:5px;
	font-size: 1em;
	padding:0;
	line-height:14px;
}
h2 > small {font-size: 85%; }
.popover { color: #333; }
h3.popover-title { font-weight: bold; }

.table{
	background-color:black;
	padding:3px 5px;
	overflow: auto;
	float:left;
	margin:5px;
	width: 190px;
}

.table p {
	color:white;
	display: block;
	float: left;
	width: 190px;
	text-align: center;
	margin: 2px 0;
	font-weight: bold;
	padding:5px 0;
	font-size: 1.3em;
}

p.tooLong{ font-size: 1.2em; }
p.reallyLong{ font-size:1em; }
p.reallyTooLong{ font-size:0.7em; }

.table > .table { margin:0; }

.table.struct {width:1005px; clear:left; }
.table.feeders { width:400px; clear:left; }
.table.scenario-config { width:400px; height:200px; }
.table.action {	width:800px;clear: left; }
.table.checks { width:1200px; clear:left; }
.table.http-config { width: 1200px; clear:left; }

.scenario > p { background-color: rgba(80,255,0,0.8); }
.struct-base > p { background-color: rgba(80,255,0,0.7); }
.conditions > p { background-color: rgba(80,255,0,0.6); }
.loops > p { background-color: rgba(80,255,0,0.5); }
.failure-handling > p { background-color: rgba(80,255,0,0.4); }

.feeder-types > p { background-color: rgba(200,0,255,0.8); }
.feeder-strategies > p { background-color: rgba(200,0,255,0.7); }

.config > p { background-color: rgba(255,0,0,0.9); }
.scen-opts > p { background-color: rgba(255,0,0,0.8); }

.http > p { background-color: rgba(255,0,70,0.8); }
.http-verb > p { background-color: rgba(255,0,70,0.7); }
.http-opts > p { background-color: rgba(255,0,70,0.6); }
.http-body > p { background-color: rgba(255,0,70,0.5); }

.check > p { background-color: rgba(0,160,255,0.8); }
.http-checks > p { background-color: rgba(0,160,255,0.7); }
.check-extractors > p { background-color: rgba(0,160,255,0.6); }
.check-transformer > p { background-color: rgba(0,160,255,0.5); }
.check-verifiers > p { background-color: rgba(0,160,255,0.4); }
.check-saver > p { background-color: rgba(0,160,255,0.3); }

.httpconfig > p { background-color: rgba(0,255,170,0.8); }
.urls > p { background-color: rgba(0,255,170,0.7); }
.proxy > p { background-color: rgba(0,255,170,0.6); }
.headers > p { background-color: rgba(0,255,170,0.5); }
.options > p { background-color: rgba(0,255,170,0.4); }
.plumbing > p { background-color: rgba(0,255,170,0.3); }