body{background-color:#1C1C1C;}

.table{
	background-color:black;
	padding:3px 5px;
	overflow: auto;
	float:left;
	margin:5px;
	width: 159px;
}

a.element {
	color:white;
	display: block;
	float: left;
	width: 155px;
	text-align: center;
	margin: 2px 0;
	font-weight: bold;
	padding:5px 0;
	font-size: 1.5em;
}

.table.action {
	width:680px;
}

.table.action > .table {
	margin:0;
}

.table.checks {
	width:1014px;
}

.table.checks > .table {
	margin:0;
}

.struct .element{
	background-color:rgba(0,255,0,0.6);
}

.http{
	background-color: rgba(255,0,0,0.6);
}

.http-verb{
	background-color: rgba(255,0,75,0.6);
}

.http-opts{
	background-color: rgba(255,75,100,0.6);
}

.http-body{
	background-color: rgba(255,0,255,0.6);
}

.feeder{
	background-color: rgba(0,0,255,0.6);
}

.feeder-str{
	background-color: rgba(75,100,255,0.6);
}

.check > .element{
	background-color: rgba(75,100,255,0.6);
}

.http-check-type{
	background-color: rgba(75,100,255,0.6);
}

.check-extractor{
	background-color: rgba(75,100,255,0.6);
}

.check-transformer{
	background-color: rgba(75,100,255,0.6);
}

.check-verifier{
	background-color: rgba(75,100,255,0.6);
}

.check-saver{
	background-color: rgba(75,100,255,0.6);
}