body{background-color:#1C1C1C;}

.table{
	background-color:black;
	padding:3px 5px;
	overflow: auto;
	float:left;
	margin:5px;
	width: 155px;
}

.table a {
	color:white;
	display: block;
	float: left;
	width: 155px;
	text-align: center;
	margin: 2px 0;
	font-weight: bold;
	padding:5px 0;
	font-size: 1.4em;
}

.table > .table { margin:0; }

.table.action {	width:660px; }
.table.http-config { width: 990px; }
.table.scenario-config { width: 330px;}
.table.checks { width:990px; }
.table.feeders { width:330px; clear:left;}

h3.popover-title { font-weight: bold; }

.scenario-config > div > a { background-color: rgba(255,0,0,0.6);}
.http-config > div > a { background-color: rgba(255,0,0,0.6);}

.struct > a { background-color:rgba(0,255,0,0.6); }
.http > a { background-color: rgba(255,0,0,0.6); }
.http-verb > a { background-color: rgba(255,0,75,0.6); }
.http-opts > a { background-color: rgba(255,75,100,0.6); }
.http-body > a{ background-color: rgba(255,0,255,0.6); }
.http-checks > a { background-color: rgba(75,100,255,0.6); }
.check-extractors > a { background-color: rgba(75,100,255,0.6); }
.check > a { background-color: rgba(75,100,255,0.6); }
.check-transformer > a { background-color: rgba(75,100,255,0.6); }
.check-verifiers > a { background-color: rgba(75,100,255,0.6); }
.check-saver > a { background-color: rgba(75,100,255,0.6); }
.feeder-types > a { background-color: rgba(0,0,255,0.6); }
.feeder-strategies > a { background-color: rgba(75,100,255,0.6); }

a.tooLong { font-size:1.2em;}
a.reallyLong{ font-size: 1em;}
a.reallyTooLong{ font-size:0.85em;}
a.reallyReallyTooLong{ font-size:0.6em;}